@(title: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE  html>

<html lang="es">
  <head>
    <title>@title</title>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" medie="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    
  </head>
  <body onload="init();">
    @content
    <script src="@routes.Assets.versioned("javascripts/game.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/gun.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/player.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/stage.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/invader.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/bunker.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/space-gun.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/text-message.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery-1.12.2.min.js")"></script>
    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("easeljs/lib/easeljs-0.8.2.min.js")"></script>
  </body>    
</html>
